<!doctype html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'posts/css/base.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>😎😎😎😎</title>
    {% block css %}  {% endblock %}
</head>
<body>
    <div class="splash"></div>
    <nav class="mask">
  <a href="#">Mask with linear-gradient</a>
  <ul class="list">
    <li><a href="http://127.0.0.1:8000/about">About</a></li>
    <li><a href="http://127.0.0.1:8000/posts">Posts</a></li>
    <li><a href="http://127.0.0.1:8000/register">Register</a></li>
    <li><a href="http://127.0.0.1:8000/login">Login</a></li>
  </ul>
  <button class="search">Search</button>
  <button class="menu">Menu</button>
</nav>
<!--    <img src="https://images.unsplash.com/photo-1629812456605-4a044aa38fbc?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc3ODI1OTg&ixlib=rb-1.2.1&q=80" alt="">-->
{% block body %}

{% endblock %}
</body>
</html>

<!--.index {-->
<!--  position: absolute;-->
<!--  top: 0%;-->
<!--  left: 85%;-->
<!--}-->
<!--html{-->


<!--background:gray}-->
<!--.splash {-->
<!--bottom: 0;-->
<!--left: 0;-->
<!--right: 0;-->
<!--z-index: -900;-->
<!--background-size: cover;-->
<!--height: 100%;-->
<!--position: absolute;-->
<!--width: 100%;-->
<!--background-size: 100% 100%-->
<!--}-->