{% extends "posts/base.html"%}
{% load static %}
{% block body %}
        <h1>Вход\Login</h1>
    <a href="http://127.0.0.1:8000">Главная</a>
    <div class="login">
        <div><label for="name">Name:</label></div>
        <div><input type="text" id="name" name="name" required minlength="4" maxlength="20" size="18" /></div>
        <div><label for="password">Password:</label></div>
        <div><input type="text" password="password" required minlength="8" maxlength="20" size="18" /></div>
    </div>


{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'posts/css/login.css' %}">
{% endblock %}