{% extends "posts/base.html"%}
{% load static %}
{% block body %}
    <h1>Регистрация\register</h1>
    <a href="http://127.0.0.1:8000">Главная</a>

    <div class="register">
        <div><label for="name">Name (4 to 8 characters):</label></div>
        <input type="text" id="name" name="name" required minlength="4" maxlength="20" size="18" />

        <div><label for="password">Password (8 characters):</label></div>
        <input type="text" password="password" required minlength="8" maxlength="20" size="18" />

        <div><label for="password">Password again (8 characters):</label></div>
        <input type="text" password="password" required minlength="8" maxlength="20" size="18" />
    </div>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'posts/css/register.css' %}">
{% endblock %}